config.js
node_modules/
data/archive
data/gist-meta.json
data/new.json
data/parsed/
data/gists/
data/gists-clones/
data/gists-files/
data/gists.zip
data/gists-files.zip
data/gists-files.tar.gz
data/parsed.tar.gz
data/latest*
.DS_Store
update-log*
gist-meta-users-part-2.csv
data/gists-clones.tar.bz2